@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Krona';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/Krona.tff) format('ttf');
	}
}
